<div class="container-fluid">
    <header class="text-center text-white p-3 bg-primary">
        <h1>My Quotes</h1>
    </header>
    <div class="row">
        <div class="col-6">
            <div *ngFor="let quote of quotes; let i=index;" class=" row container m-auto position-relative mb-2">
                <div class=" text-center mb-1">
                    <h5>{{quote.quote}}</h5>
                    <button (click)="vote(i)" class=" btn btn-success mx-2"> Upvote</button> 
                    <button (click)="de_vote(i)"class="btn btn-primary mx-2">Downvote</button>
                    
                </div>
                <a href="#" (click)="moreinfo(i)" class="px-5">More</a>
                <app-details *ngIf="quote.showDescription" [isquote]='quote' (disliked)="deletequote($event,i)"></app-details>
                
            </div>
        </div>
        <div class="col-6">
            <app-form (add_Quote)="addNewQuote($event)"></app-form>
        </div>
    </div>
</div>